.select-wrapper {
  position: relative;
  width: 100%;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 1s;
  transform-origin: top center;
  margin-bottom: 10px;
}

.custom-select::after {
  transition: all ease 1s;
}

.custom-select .select-button {
  border: 1px solid var(--dark-gray);
}

.custom-select .select-button span {
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  max-width: calc(100% - 20px);
  white-space: nowrap;
}

.custom-select .select-button[aria-expanded="true"] {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.4s, border-radius 0s;
}

.custom-select > button.select-button {
  background-color: inherit;
  padding: 0 0.7rem;
  text-align: left;
  transition: all 0.4s, border-bottom-width 0s linear 0.3s,
    border-radius 0s linear 0.3s;
  height: 36px;
  box-sizing: content-box;
}

.custom-select > button.select-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.option-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-black);
  text-align: left;
  max-height: 500px;
}

.option-container > button,
.closed-options > button {
  display: inline-block;
  position: relative;
  padding: 0 0.7rem;
  border-right: 1px solid var(--dark-gray);
  border-left: 1px solid var(--dark-gray);
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
}

.custom-select > button,
.option-container > button,
.closed-options > button {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--dark-gray);
  transition: all 0.4s, border-radius 0.2s ease 0.1s, background-color 0.2s,
    color 0.2s, border-color 0.2s;
}

.option-container > button:hover {
  background-color: #707070;
  color: var(--primary-white);
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.closed-options {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--background-black);
}

.option-container,
.closed-options {
  transition: max-height 300ms linear;
}

.option-container > button:last-child,
.closed-options > button:last-child {
  border-bottom: 1px solid var(--dark-gray);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.option-container > *,
.closed-options > * {
  background-color: var(--background-black);
  text-align: left;
  padding: 0;
}

.option-container > button:hover:last-child {
  border-bottom: 1px solid #707070;
}

.select-wrapper.with-error select {
  border-color: var(--error-red);
  color: var(--error-red);
}

.select-wrapper select option {
  background: var(--background-black);
  padding: 2rem;
}

.expand-icon {
  transition: all ease 300ms;
}

.reverse-expand {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  fill: #707070;
  pointer-events: none;
  transform: translateY(-50%) rotate(180deg);
  transition: all ease 300ms;
}
