.contact {
  margin: 0 10% 10%;
}

.contact-board-container {
  display: flex;
  text-align: center;
  margin-bottom: 10%;
  grid-auto-rows: 17vw;
  height: 110%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-contact-title {
  margin-top: 6rem;
}
