/* stylelint-disable selector-class-pattern, no-descending-specificity */
.MuiButtonBase-root.header-profile-btn {
  border: 2px solid white;
  height: 3.8rem;
  width: 9.75rem;
  font-size: 1.375rem;
  text-decoration: none;
}

.MuiButtonBase-root.header-profile-main-btn {
  border-radius: 41px;
}

.expanded .MuiButtonBase-root.header-profile-main-btn {
  border-radius: 32px;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.4s, border-radius 0.2s ease 0s;
}

.header-profile-main-btn svg[data-testid="ExpandMoreIcon"] {
  transition: 0.3s;
}

.expanded svg[data-testid="ExpandMoreIcon"] {
  transform: scale(1.3) rotate(180deg);
}

.header-profile-btn-text {
  margin: 0 0.5rem;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-profile-btn-icon {
  transform: scale(1.3);
  margin-right: 0.5rem;
}

.MuiButtonBase-root.header-profile-btn:hover .header-profile-btn-text,
.MuiButtonBase-root.header-profile-btn:focus .header-profile-btn-text,
.expanded .MuiButtonBase-root.header-profile-btn .header-profile-btn-text {
  color: var(--primary-red);
}

.expanded .MuiButtonBase-root.header-profile-btn:hover .header-profile-btn-text,
.expanded
  .MuiButtonBase-root.header-profile-btn:focus
  .header-profile-btn-text {
  color: white;
}

.MuiButtonBase-root.header-profile-btn:hover .header-profile-btn-icon,
.MuiButtonBase-root.header-profile-btn:focus .header-profile-btn-icon,
.expanded .MuiButtonBase-root.header-profile-btn .header-profile-btn-icon {
  fill: var(--primary-red);
}

.expanded .MuiButtonBase-root.header-profile-btn:hover .header-profile-btn-icon,
.expanded
  .MuiButtonBase-root.header-profile-btn:focus
  .header-profile-btn-icon {
  fill: white;
}

.MuiButtonBase-root.header-profile-btn:hover,
.MuiButtonBase-root.header-profile-btn:focus,
.expanded .MuiButtonBase-root.header-profile-btn {
  background-color: white;
}

.expanded .MuiButtonBase-root.header-profile-btn,
.expanded.header-profile-nav
  .header-profile-expanded-buttons
  .MuiButtonBase-root.header-profile-btn {
  border-bottom: 1px solid #d399998f;
}

.expanded .MuiButtonBase-root.header-profile-btn:hover,
.expanded .MuiButtonBase-root.header-profile-btn:focus,
.header-profile-nav.expanded
  .header-profile-expanded-buttons
  li:last-child
  .MuiButtonBase-root.header-profile-btn:hover,
.header-profile-nav.expanded
  .header-profile-expanded-buttons
  li:last-child
  .MuiButtonBase-root.header-profile-btn:focus {
  background-color: var(--primary-red);
  border-color: var(--primary-red);
}

.header-profile-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.header-profile-nav .header-profile-expanded-buttons {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 100%;
  z-index: -10;
  opacity: 0;
  transition: 0.4s;
  transform: scaleY(0.01);
  pointer-events: none;
  transform-origin: top;
}

.header-profile-nav.expanded .header-profile-expanded-buttons {
  opacity: 1;
  z-index: unset;
  pointer-events: unset;
  height: unset;
  transform: scaleY(1);
  transition-delay: 0.1s;
}

.header-profile-nav
  .header-profile-expanded-buttons
  .MuiButtonBase-root.header-profile-btn {
  border-top: 0;
  border-bottom: 1px solid white;
}

.header-profile-nav
  .header-profile-expanded-buttons
  li:last-child
  .MuiButtonBase-root.header-profile-btn {
  border-bottom: 2px solid white;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.header-profile-expanded-buttons .header-profile-btn {
  font-size: 1.2rem;
}

.header-profile-expanded-buttons .header-profile-btn-icon {
  transform: scale(1.1);
}

.header-login-btn-loading-icon-wrapper {
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.header-login-btn-loading-icon svg circle {
  color: white;
}

button:hover .header-login-btn-loading-icon svg circle,
button:focus .header-login-btn-loading-icon svg circle {
  color: var(--primary-red);
}

.small-text {
  font-size: 0.72em;
}

@media only screen and (max-width: 768px) {
  .small-text {
    font-size: 1em;
  }

  .MuiButtonBase-root.header-profile-btn {
    width: 100%;
  }

  .header-profile-nav {
    min-width: 150px;
    max-width: 90%;
  }

  .header-profile-nav .header-profile-expanded-buttons {
    position: unset;
    top: unset;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .MuiButtonBase-root.header-profile-btn {
    height: 3rem;
    width: 8.5rem;
    font-size: 1rem;
  }

  .header-profile-btn-text {
    padding-right: 0;
  }
}
