/* stylelint-disable selector-class-pattern */
.autocomplete-container {
  position: relative;
  width: auto;
}

.autocomplete-container .input-container {
  padding-top: 0;
  max-width: unset;
  width: 100%;
}

.autocomplete-container ul {
  margin: 0 0 0 -1px;
  padding: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
  max-height: 300px;
  list-style: none;
  overflow: auto;
  border: 1px solid var(--primary-white);
  transition: max-height 0.5s ease;
}

.autocomplete-container .with-error + ul {
  border-color: var(--error-red);
}

.autocomplete-container:not(.beyond-screen) ul {
  border-bottom-left-radius: 1rem;
  border-top-color: var(--dark-gray);
}

.autocomplete-container.beyond-screen ul {
  bottom: 100%;
  border-top-left-radius: 1rem;
  border-bottom-color: var(--dark-gray);
}

.autocomplete-container .input-container:not([aria-owns]) + ul {
  border: none;
  max-height: 0;
}

.form-container.form-container-wide .autocomplete-container ul {
  width: 100%;
}

.autocomplete-container ul li {
  background: var(--background-black);
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  cursor: pointer;
  width: 100%;
  margin: 0;
}

.autocomplete-container ul li span {
  padding: 1rem 1.125rem;
  font-size: 1.25rem;
  color: var(--dark-gray);
  font-weight: 300;
  line-height: 1;
  display: inline-block;
}

.autocomplete-container ul li.Mui-focused,
.autocomplete-container ul li.Mui-focused[aria-selected="true"],
.autocomplete-container ul li.Mui-focused:active {
  background: #707070;
}

.autocomplete-container ul li.Mui-focused span,
.autocomplete-container ul li[aria-selected="true"] span,
.autocomplete-container ul li:active span {
  color: var(--primary-white);
}

.autocomplete-container ul li[aria-selected="true"],
.autocomplete-container ul li:active {
  background: #525252;
}

.autocomplete-container:not(.beyond-screen) .input-container[aria-owns] input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.autocomplete-container.beyond-screen .input-container[aria-owns] input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-container[aria-owns] .error-message {
  display: none;
}
