#events {
  color: #333;
  background: var(--background-black);
}

.events-filter-wrapper {
  display: flex;
  justify-content: stretch;
}

.events-wrapper {
  flex: 1;
}

.section#events p {
  padding: unset;
}

#events .background-icon {
  position: absolute;
  top: 50%;
  z-index: 0;
  right: 0;
}

#events p.dimmed {
  color: #707070;
}

#events .filtering-text-input-container {
  height: 37px;
  width: auto;
}

#events input.filtering-text-input {
  font-size: 0.75rem;
}

#events .filtering-text-input-container svg {
  top: 19px;
}

.events-wrapper .event-group .heading {
  line-height: 1.4;
}

#events .event-group:first-child .heading {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  #events .background-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .events-filter-wrapper {
    flex-direction: column;
  }
}
