.header-nav-link {
  display: inline-block;
  font-size: 1.375rem;
  padding: 0 1.5rem 0.6rem;
  white-space: nowrap;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-nav-link {
    font-size: 1rem;
    padding: 0 0.6rem 0.35rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header-nav-link {
    font-size: 1.2rem;
    padding: 0 0.6rem 0.6rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .header-nav-link {
    padding: 0 0.8rem 0.6rem;
  }
}
