.conditional-input-wrapper span {
  position: relative;
}

.conditional-input input {
  border-radius: 5px;
}

.conditional-input.description-conditional-input.input-container {
  padding-top: 0;
  max-width: unset;
}

.conditional-input.profile-description-conditional-input textarea,
.conditional-input.description-conditional-input textarea {
  padding: 1rem;
  width: 100%;
  line-height: 1.15;
  resize: none;
  height: 270px;
  border-radius: 5px;
}

.conditional-input.description-conditional-input textarea {
  margin: -1rem -1rem 1em;
}
