/*
this does not really work well on Chrome because of the dragging so turned off for desktops
 */

.draggable {
  overflow: hidden;
}

.draggable.draggable-vertical {
  overflow-y: auto;
}

.draggable.draggable-horizontal {
  overflow-x: auto;
}

.draggable.drag-inactive {
  scroll-snap-type: none;
}

.draggable.drag-inactive.never-snap,
.draggable.is-touchscreen.never-snap,
.draggable.draggable-vertical.never-snap,
.draggable.draggable-horizontal.never-snap,
.draggable.draggable-horizontal.draggable-vertical.never-snap {
  scroll-snap-type: none !important;
}

.draggable > * {
  scroll-snap-align: center;
}

.draggable > *:first-child {
  scroll-snap-align: start;
}

.draggable > *:last-child {
  scroll-snap-align: end;
}

/* on mobile devices always have snap-type - sanity check */
@media only screen and (hover: none) and (pointer: coarse) {
  .draggable.draggable-horizontal,
  .draggable.drag-inactive.draggable-horizontal {
    scroll-snap-type: x mandatory;
  }

  .draggable.draggable-vertical,
  .draggable.drag-inactive.draggable-vertical {
    scroll-snap-type: y mandatory;
  }

  .draggable.draggable-vertical.draggable-horizontal,
  .draggable.drag-inactive.draggable-vertical.draggable-horizontal {
    scroll-snap-type: both mandatory;
  }
}
