.table-title {
  width: fit-content;
  margin: calc(0.5em + 2px) auto;
}

.table-cell {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

@media (max-width: 600px) {
  table {
    padding: 0 2rem;
  }

  td > p {
    padding: 0 !important;
    max-width: 70px;
  }

  .table-cell {
    font-size: 0.7rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  table {
    padding: 0 3rem;
  }

  td > p {
    padding: 0 !important;
    max-width: 200px;
  }

  .table-cell {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  table {
    padding: 0 5rem;
  }

  td > p {
    padding: 0 !important;
    max-width: 200px;
  }

  .table-cell {
    font-size: 1.2rem;
  }
}

@media (min-width: 1600px) and (max-width: 1900px) {
  .table-cell {
    font-size: 1.2rem;
  }
}
