.link {
  color: #fff;
  font-size: 1.25rem;
  padding: 2rem 2.5rem 0;
  text-decoration: underline rgba(255 255 255 0%);
  text-underline-offset: 0.3em;
  position: relative;
  transition: all 300ms;
  transition-timing-function: ease-out;
  text-align: center;
  line-height: 1.35rem;
}

.link:hover,
.link:focus {
  color: #fff;
  text-decoration-color: rgba(255 255 255 100%);
  font-size: 1.35rem;
}

@media (max-width: 600px) {
  .link {
    font-size: 1rem;
  }

  .link:hover,
  .link:focus {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .link {
    font-size: 1.2rem;
  }

  .link:hover,
  .link:focus {
    font-size: 1.375rem;
  }
}

/*
 * UNUSED MEDIA QUERIES

@media (min-width: 600px) and (max-width: 768px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1440px) {
}

@media (min-width: 1440px) and (max-width: 1600px) {
}

*/
