* {
  color: var(--light-gray);
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.map {
  width: 55%;
  height: 100%;
}

.map::before {
  width: 55%;
  height: 100%;
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto 100%;
  z-index: -1;
  background-image: url("assets/img/Map.svg");
}

.landing-text-wrapper {
  width: 45%;
  display: flex;
}

.landing-text {
  margin-left: auto;
}

.landing-text h1 {
  font-size: 10.25rem;
  font-weight: 900;
  margin: 0;
  line-height: 0.95;
}

.landing-text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0 0.4rem;
}

.landing-text p {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 0 0.4rem;
  line-height: 0.95;
}

@media (max-width: 599px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: calc(100vh - 3rem);
  }

  .map,
  .map::before {
    width: 100%;
    height: 65%;
    background-size: cover;
    background-position-x: center;
  }

  .landing-text {
    margin: auto;
  }

  .landing-text-wrapper {
    width: auto;
    margin-bottom: 3rem;
  }

  .landing-text h1 {
    font-size: 5rem;
  }

  .landing-text h2 {
    font-size: 0.7rem;
  }

  .landing-text p {
    font-size: 1.25rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: calc(100vh - 3rem);
  }

  .map,
  .map::before {
    width: 100%;
    height: 75%;
    background-size: cover;
  }

  .landing-text {
    margin: auto;
  }

  .landing-text-wrapper {
    width: auto;
    margin-bottom: 2rem;
  }

  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h2 {
    font-size: 1.15rem;
    margin: 0 0 0 0.3rem;
  }

  .landing-text p {
    font-size: 2.25rem;
    margin: 0 0 0 0.3rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .landing-text h1 {
    font-size: 5rem;
  }

  .landing-text h2 {
    font-size: 0.7rem;
  }

  .landing-text p {
    font-size: 1.25rem;
  }

  .map,
  .map::before {
    width: 55%;
    height: 100%;
  }

  .landing-text {
    margin-left: auto;
  }

  .landing-text-wrapper {
    width: 45%;
    display: flex;
  }

  .landing {
    flex-direction: row;
    align-items: center;
    justify-content: inherit;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .landing-text h1 {
    font-size: 6rem;
  }

  .landing-text h2 {
    font-size: 0.85rem;
    margin: 0 0 0 0.2rem;
  }

  .landing-text p {
    font-size: 1.7rem;
    margin: 0 0 0 0.2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h2 {
    font-size: 1.15rem;
    margin: 0 0 0 0.3rem;
  }

  .landing-text p {
    font-size: 2.25rem;
    margin: 0 0 0 0.3rem;
  }
}
