button.link-button {
  box-sizing: content-box;
  background: none;
  border: none;
  padding: 0;
  display: inline;
  cursor: pointer;
  color: var(--primary-red);
  align-items: normal;
  overflow: visible;
  font: inherit;
  height: auto;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  appearance: none;
  -webkit-logical-height: 1em;
  -webkit-logical-width: auto;
}

button.link-button:disabled,
button.link-button[disabled] {
  color: #707070;
  cursor: default;
}

button.link-button:hover {
  text-decoration: underline;
}

.small button.link-button,
button.link-button.small {
  height: 17px;
}

button.link-button:disabled:hover,
button.link-button[disabled]:hover {
  text-decoration: none;
}

@supports (-moz-appearance: none) {
  button.link-button::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  button.link-button:focus {
    outline-style: dotted;
    outline-width: 1px;
  }
}
