.card.person-card {
  max-width: 270px;
}

.card.person-card .card-image {
  height: unset;
  width: 100%;
}

.card.person-card .caption {
  height: unset;
  min-height: 108px;
}

.card.person-card.with-position .caption {
  min-height: 144px;
}

.horizontal-cards-container .card.person-card .card-image {
  height: 270px;
  width: 270px;
}

.card.person-card .caption-details {
  text-align: center;
  padding: 1rem 5% 0;
}

.card.person-card.with-position .caption-details {
  padding-top: 0.5rem;
}

.card.person-card .caption-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  height: 56px;
  margin: 0;
}

.card.person-card .caption-details-text {
  margin-bottom: 1rem;
}

.card.person-card .caption-details-text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .card.person-card {
    max-width: 175px;
    margin: 0 auto 2rem;
  }

  .horizontal-cards-container .card.person-card .card-image {
    height: 175px;
    width: 175px;
  }

  .card.person-card .caption {
    min-height: unset;
  }

  .card.person-card .caption-title {
    font-size: 1rem;
    padding: 0;
    height: 37px;
  }

  .card.person-card .caption-details {
    padding: 7% 5% 0;
  }
}
