.sticky-menu {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: -1px;
  height: 400px;
  z-index: 2;
  box-shadow: 0 8px 8px -2px #282828;
  padding: 0.5rem 1rem 0;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none;
}

.sticky-menu.sticky-menu-invisible {
  display: none;
}

.sticky-menu.only-right-element {
  height: 48px;
}

.sticky-menu-elements {
  display: flex;
  flex-direction: row;
  flex: 1;
  pointer-events: all;
}

.sticky-menu-right-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
  pointer-events: all;
}

.sticky-menu-right-element button {
  margin: 0 1.5rem;
}

.sticky-menu.pinned {
  background: #181818;
}

.sticky-menu-subelements {
  position: absolute;
  padding: 0 1rem;
  left: 0;
  display: none;
  flex-direction: row;
  width: 100%;
}

.sticky-menu-element {
  height: 40px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

button.link-button.sticky-menu-element-title {
  color: var(--primary-white);
  font-size: 1em;
  text-decoration: none !important;
  border-radius: 0;
  padding: 0.5rem;
  min-width: unset;
  text-align: center;
}

.sticky-menu-element-depth-1 button.link-button.sticky-menu-element-title {
  font-size: 0.83em;
}

.sticky-menu-element-depth-2 button.link-button.sticky-menu-element-title {
  font-size: 0.7em;
}

.sticky-menu-element-depth-3 button.link-button.sticky-menu-element-title {
  font-size: 0.6em;
}

.sticky-menu-element:hover > .sticky-menu-subelements {
  display: flex;
}

.sticky-menu-element-title:hover::after {
  content: "";
  position: absolute;
  transition-property: width;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  width: auto;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .sticky-menu {
    max-height: 50px;
    transition: 0.2s;
    margin-top: calc(-70px + 0.5rem);
    padding-top: calc(0.25rem + 70px);
  }

  .sticky-menu.pinned {
    padding-top: calc(0.7rem + 70px);
  }

  .sticky-menu-element {
    max-width: 25%;
  }

  .sticky-menu-element:hover > .sticky-menu-subelements {
    display: none;
  }

  button.link-button.sticky-menu-element-title {
    font-size: 0.83em;
  }

  .sticky-menu-right-element button {
    margin: 0;
  }
}

@media (max-width: 600px) {
  button.link-button.sticky-menu-element-title {
    font-size: 0.6em;
  }

  .sticky-menu {
    margin-top: calc(-70px + 0.5rem);
    padding-top: calc(0.5rem + 70px);
    flex-direction: column;
  }

  .sticky-menu-elements {
    justify-content: space-around;
  }

  .sticky-menu.with-right-element {
    max-height: 90px;
  }

  .sticky-menu.pinned {
    padding-top: calc(1rem + 70px);
  }

  .sticky-menu-right-element {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 360px) {
  button.link-button.sticky-menu-element-title {
    padding-left: 0;
    padding-right: 0;
  }
}
