.radio-button-container {
  /* padding-top: 1rem; */
}

.radio-button-container label .radio-button-label {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--dark-gray) !important;
  margin-left: 5px;
  vertical-align: text-top;
  height: fit-content;
  width: fit-content;
}

.radio-button-container input[type="radio"] {
  opacity: 0 !important;
}

.radio-button-container label span.radio-button {
  height: 12px;
  width: 12px;
  border: 2px solid var(--dark-gray);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  margin-left: -20px;
}

.radio-button-container input[type="radio"]:checked + span.radio-button {
  border-color: var(--primary-red);
}

.radio-button-container
  input[type="radio"]:not(:checked)
  + span.radio-button:hover,
.radio-button-container
  input[type="radio"]:focus:not(:checked)
  + span.radio-button {
  background-color: #464646;
}

.radio-button-container input[type="radio"]:checked + span.radio-button::after {
  background-color: var(--primary-red);
  width: 9px;
  height: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  content: "";
  display: block;
}
