.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonials-carousel div.carousel-block {
  flex-basis: 100%;
  max-width: 100%;
  min-width: 100%;
}

.testimonial img {
  width: 20%;
  margin-left: 3rem;
  object-fit: cover;
  border-radius: 2.25rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  flex-shrink: 0;
}

.testimonial .testimonial-text {
  margin-left: 6rem;
  cursor: default;
}

#testimonials .testimonial {
  font-size: 2rem;
  align-items: center;
}

.testimonial h3 {
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: start;
}

#testimonials .testimonial p {
  font-weight: 100;
  font-size: 1em;
  padding: 0;
  color: var(--primary-white);
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-right: 3rem;
  text-align: justify;
}

.testimonial-separator,
.testimonial-position {
  font-weight: 100;
}

@media (max-width: 600px) {
  #testimonials .testimonial {
    font-size: 1.25rem;
  }

  .testimonial-name {
    display: block;
  }

  .testimonial-separator {
    display: none;
  }

  .testimonial-position {
    font-size: 0.85em;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  #testimonials .testimonial {
    font-size: 1.25rem;
  }

  .testimonial-name {
    display: block;
  }

  .testimonial-separator {
    display: none;
  }

  .testimonial-position {
    font-size: 0.85em;
  }
}

@media (max-width: 768px) {
  .testimonial {
    flex-direction: column;
    justify-content: flex-start;
  }

  .testimonial .testimonial-text {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #testimonials .testimonial p {
    margin-right: 0;
  }

  .testimonial h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .testimonial img {
    margin: 2rem 1rem 1rem;
    width: unset;
    max-height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .testimonial {
    flex-direction: row;
  }

  #testimonials .testimonial {
    font-size: 1.5rem;
  }

  .testimonial .testimonial-text {
    margin-left: 2rem;
  }

  .testimonial img {
    margin-left: 1rem;
  }

  #testimonials .testimonial p {
    margin-right: 1rem;
  }

  .testimonial h3 {
    margin-top: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #testimonials .testimonial {
    font-size: 1.7rem;
  }

  .testimonial .testimonial-text {
    margin-left: 3rem;
  }

  .testimonial h3 {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  #testimonials .testimonial {
    font-size: 1.85rem;
  }

  .testimonial .testimonial-text {
    margin-left: 4rem;
  }
}
