/* stylelint-disable selector-class-pattern */
.card {
  width: 100%;
  max-width: 290px;
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.card .caption-title {
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1rem;
  white-space: break-spaces;
  text-overflow: ellipsis;

  /* This display is a weird one, might not be super stable */
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
}

.card p,
.card span,
.card ul,
.card li,
.card h3 {
  color: var(--primary-white);
}

.card .card-image {
  object-fit: cover;
  height: unset;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  aspect-ratio: 1;
}

.card .caption-details {
  padding: 1rem 10% 0;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .caption {
  background: var(--background-gray);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card .card-button {
  position: relative;
  text-align: center;
  margin: -5px auto 0;
  transform: translateY(50%);
  box-shadow: 0 1px 5px 2px #3e3e3e6b;
  min-height: 17px;
}

.horizontal-cards-container .card .card-image {
  height: 290px;
  width: 290px;
}

.cards-container .MuiGrid-root {
  z-index: unset;
}

@media (max-width: 768px) {
  .card:not(.board-card-image) {
    max-width: 175px;
    margin: 0 auto 2rem;
  }

  .card:not(.board-card-image) .card-button {
    margin-top: -12px;
    font-size: 0.75rem;
    min-height: 14px;
  }

  .card div.split-button {
    margin-top: -8px;
    transform: translateY(40%);
  }

  .split-inner-button span,
  .split-inner-button.Mui-disabled span {
    font-size: 0.75rem;
  }

  .card:not(.board-card-image) .caption-details {
    padding: 10% 5% 0;
  }

  .card:not(.board-card-image) .caption-title {
    font-size: 1rem;
    padding: 0 2%;
  }

  .horizontal-cards-container .card .card-image {
    height: 175px;
    width: 175px;
  }
}
