.partner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  margin: auto;
}

#partners {
  margin-top: 11rem;
}

.section.partners-top-message {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}

.section.become-partner .split:first-child h1.heading.heading-h1 {
  margin-top: 0;
}

.section.partners-top-message p {
  font-size: 1.25rem;
  color: #e3e3e3;
  text-align: center;
  padding-left: 11vw;
  padding-right: 11vw;
}

#partners .partners-form-area {
  background-color: #514e4e;
  padding: 6%;
  border-radius: 40px;
  max-width: 85%;
  margin: auto;
  width: 800px;
}

#partners .contact-partners {
  margin-bottom: 14rem;
}

.contact-partners h1.heading {
  color: var(--primary-white);
  padding-left: 1rem;
}

.contact-partners .contact-us {
  padding-left: 15vw;
  padding-right: 15vw;
  position: relative;
}

.contact-partners .contact-us img {
  position: absolute;
  bottom: -7rem;
  left: 1.25rem;
  width: 25%;
}

@media (max-width: 600px) {
  #partners {
    margin-top: 7rem;
  }

  .section.partners-top-message {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 0;
  }

  #partners .section {
    padding-top: 0;
  }

  .section.partners-top-message p {
    font-size: 0.875rem;
  }

  .contact-partners h1.heading {
    padding-left: 0;
  }

  .contact-partners .contact-us {
    padding-left: 0;
    padding-right: 0;
  }

  .partners-form-message {
    height: 200px;
  }

  .contact-partners .contact-us img {
    visibility: hidden;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  #partners {
    margin-top: 7rem;
  }

  .section.partners-top-message {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 0;
  }

  #partners .section {
    padding-top: 0;
  }

  .section.partners-top-message p {
    font-size: 1rem;
  }

  .partners-form-message {
    height: 200px;
  }

  .contact-partners .contact-us {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-partners .contact-us img {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #partners {
    margin-top: 4rem;
  }

  .section.partners-top-message {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }

  .partners-form-message {
    height: 200px;
  }

  .contact-partners .contact-us {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-partners .contact-us img {
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #partners {
    margin-top: 5rem;
  }

  .section.partners-top-message {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .partners-form-message {
    height: 300px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  #partners {
    margin-top: 8rem;
  }

  .section.partners-top-message {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .partners-form-message {
    height: 360px;
  }
}
