#our-history .heading {
  font-weight: 500;
}

#our-history.section {
  margin-bottom: 5rem;
}

#our-history .our-history-heading {
  position: sticky;
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  top: 0;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#our-history .our-history-heading.relative {
  transition: 0.3s;
  transform: translateY(-18vh);
}

#our-history .history .heading {
  text-align: left;
  font-size: 3rem;
  padding-bottom: 2%;
  background: var(--background-black);
  max-width: 525px;
  margin-bottom: 0;
  margin-top: 4rem;
}

.history {
  transition: 0.5s;
  position: sticky;
  top: 18vh;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  margin-top: -12vh;
  overflow-x: hidden;
}

.pinned {
  opacity: 1;
  z-index: 8;
}

.pinned.covered {
  z-index: 0;
}

.history-images {
  position: relative;
  max-width: 50%;
  align-self: center;
}

#our-history .history p {
  font-size: 1.25rem;
  margin-top: 0;
  max-width: 525px;
  padding: 0.3em 0 0;
  margin-bottom: 0;
}

#our-history .history p:first-child {
  padding: 0;
  margin-bottom: inherit;
}

#our-history img {
  margin-right: 3rem;
  transition: 0.5s;
}

#our-history img:first-child {
  position: absolute;
}

#our-history img:first-child:last-child {
  position: unset;
}

#our-history .odd {
  transform: scale(0.8) rotate(-15deg) translateX(300%);
}

#our-history .even {
  transform: scale(0.8) rotate(-4deg) translateX(300%);
}

#our-history .pinned .odd {
  transform: scale(0.8) rotate(-15deg);
}

#our-history .pinned .even {
  transform: scale(0.8) rotate(-4deg);
}

#our-history .see-more-button {
  height: 12vh;
  position: sticky;
  top: 88vh;
  z-index: 9;
}

.history-text {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
}

.covered .history-text {
  opacity: 0;
}

.history-paragraphs {
  flex: 1;
  overflow: auto;
  background: var(--background-black);
  padding-right: 0.5rem;
}

.history-elements {
  padding-bottom: 5rem;
}

@media (max-width: 992px) {
  #our-history .history .heading {
    padding-bottom: 0;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .history {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .history-text {
    flex: 1;
  }

  .history-images {
    max-height: 50%;
    max-width: 100%;
  }

  #our-history img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

  #our-history .odd {
    transform: scale(0.7) rotate(-15deg) translateX(300%);
  }

  #our-history .even {
    transform: scale(0.7) rotate(-4deg) translateX(300%);
  }

  #our-history .pinned .odd {
    transform: scale(0.7) rotate(-15deg);
  }

  #our-history .pinned .even {
    transform: scale(0.7) rotate(-4deg);
  }

  #our-history .history p {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .history-text {
    padding: 0 1rem;
  }

  #our-history .our-history-heading {
    font-size: 2.5rem;
  }

  #our-history .history .heading {
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }

  #our-history .history p {
    font-size: 0.75rem;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .history-text {
    padding: 0 3rem;
    background: var(--background-black);
  }

  #our-history .our-history-heading {
    font-size: 3rem;
  }

  #our-history .history .heading {
    font-size: 1.25rem;
  }

  #our-history .history p {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #our-history .history p {
    font-size: 0.9rem;
  }

  .line-after::after,
  .line-before::before {
    max-width: 120px;
  }

  #our-history img {
    margin-left: -3rem;
    max-width: 400px;
  }

  #our-history .history .heading {
    font-size: 1.75rem;
  }

  .history-text {
    padding: 0 3rem;
  }

  #our-history .our-history-heading {
    font-size: 3.6rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  #our-history img {
    margin-left: -3rem;
  }

  .history-text {
    padding: 0 3.5rem;
  }
}

@media (max-height: 650px) {
  .history-paragraphs {
    display: none;
  }
}

/* width */
.history-paragraphs::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
.history-paragraphs::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
}

/* Handle on hover */
.history-paragraphs::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}
