.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  width: 100%;
  max-width: 326px;
}

.form-heading + .input-container,
.form-heading + .horizontal-inputs .input-container {
  padding-top: 0.75rem;
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(1px, 21px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #707070;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
  left: 16px;
}

.input-container:focus-within label {
  transform: translate(-4px, 8px) scale(0.6);
  color: var(--primary-white);
}

.input-container .filled {
  transform: translate(-4px, 8px) scale(0.6);
}

.input-container input,
.input-container textarea {
  border-radius: 1rem;
  border: none;
  outline: 1px solid #707070;
  font-size: 1rem;
  color: var(--primary-white);
  font-weight: 300;
  line-height: 1;
  box-shadow: none;
  background: transparent;
}

.input-container input {
  padding: 1.375rem 1.125rem 0.625rem;
  width: calc(100% - 2.25rem);
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  height: 28px;
}

.input-container textarea {
  padding: 1rem;
  width: calc(100% - 2rem);
  resize: vertical;
  max-height: 300px;
  min-height: 200px;
}

.input-container input:focus {
  outline: 1px solid var(--primary-white);
}

.input-container.with-error input {
  outline: 1px solid var(--error-red);
  color: var(--error-red);
}

.input-container.with-error input:focus {
  color: var(--primary-white);
}

.input-container.with-error label {
  color: var(--error-red);
}

.form-container.form-container-wide .input-container {
  max-width: 540px;
}

.form-container.form-container-wide .horizontal-inputs .input-container {
  width: 258px;
}

.form-container .input-container.password input,
.form-container.form-container-wide .input-container.password input {
  padding: 1.375rem 5.125rem 0.625rem 1.125rem;
  width: calc(100% - 6.25rem);
}

@media (max-width: 570px) {
  .form-heading + .input-container,
  .form-heading + .horizontal-inputs .input-container {
    padding-top: 1.5rem;
  }

  .form-container.form-container-wide .horizontal-inputs .input-container {
    width: 100%;
  }
}
