.contact-contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Info */
.contact-info {
  margin: 0 2rem;
}

.contact-info,
.contact-form-area {
  background-color: #514e4e;
  padding: 5%;
  border-radius: 40px;
  align-self: left;
}

.contact-address p.contact-info-headers,
.contact-mails p.contact-info-headers {
  font-weight: 500;
  margin-bottom: 6% !important;
}

.contact-address p.contact-info-bold,
.contact-mails p.contact-info-bold {
  font-weight: 400 !important;
}

.contact-info > p {
  line-height: 29px;
  margin: 0;
}

#board-mail {
  padding-top: 2rem;
}

/* Contact Form */
.contact-address p,
.contact-mails p {
  font-size: 1.375rem;
  font-weight: 300;
}

/* Contact Email */
.contact-form-area {
  display: flex;
  flex-direction: column;
}

.contact-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 5%;
}

.contact-email > p {
  margin: 4% 0;
}

.contact-form-input {
  border-radius: 22px;
  border: none;
  background-color: #787878;
  color: var(--primary-white);
  font-size: 22px;
  font-weight: 300;
}

.contact-form-email {
  padding: 0 2rem;
}

.contact-form-to-text {
  text-align: right;
}

.contact-form-input::placeholder {
  color: var(--primary-white);
  font-size: 22px;
  font-weight: 300;
}

.contact-clickable-link {
  background-color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.contact-clickable-link:hover {
  background-color: inherit;
}

.contact-mails {
  margin-bottom: 8%;
}

.contact-address > *,
.contact-mails > div > * {
  margin: 5px 0;
}

.contact-mails > div {
  margin: 1.5rem 0;
}

/* Contact Message */
.contact-message {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form-message {
  height: 100%;
  margin-bottom: 2rem;
  padding: 2% 2rem;
}

.contact-form-submit {
  background-color: var(--primary-white);
  color: var(--background-black);
  padding: 2% 0;
  font-size: 22px;
  font-weight: 500;
  border-radius: 16px;
  line-height: 22px;
  border: var(--primary-white) solid 2px;
  transition: all 500ms ease;
}

.contact-form-submit:hover {
  border: #e3e3e3 solid 2px;
  color: #e3e3e3;
  background-color: #3a3a3a;
}

@media (max-width: 1490px) {
  .contact-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-form-area {
    height: 30rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 768px) {
  .contact-form-email {
    height: auto;
    width: 80%;
  }

  .contact-address p,
  .contact-mails p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contact-address p,
  .contact-mails p {
    font-size: 1.2rem;
  }
}
