.icon-button.see-more-button {
  text-align: center;
  transition: 0.3s;
  display: block;
  margin: 0 auto;
}

.icon-button:hover {
  transform: scale(1.2);
}

.icon-button.see-more-button p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--primary-white);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: -1.75rem;
}

.see-more-icon,
svg.see-more-icon {
  font-size: 6rem;
  color: var(--primary-white);
}
