/* stylelint-disable selector-class-pattern */
p.warning-message,
.section p.warning-message {
  color: #ffc400;
}

p.warning-message span,
.section p.warning-message span {
  color: #ffc400;
}

p.warning-message .MuiSvgIcon-root,
.section p.warning-message .MuiSvgIcon-root {
  background-color: transparent;
  fill: #ffc400;
}

p.message.warning-message svg {
  vertical-align: middle;
  font-size: 0.7rem;
}
