.partner-modal {
  width: 852px;
  background: #fff;
  border: 1px solid #707070;
  text-align: center;
  border-radius: 3rem;
  max-width: 100%;
  margin: auto;
}

.partner-modal img {
  height: auto;
  width: 300px;
  border-bottom: 2px solid #707070;
  max-width: 70%;
  margin-top: 3.75rem;
  padding-bottom: 1rem;
}

.partner-modal.no-description img {
  border-bottom: 0;
  margin-bottom: 3.75rem;
  padding-bottom: 0;
}

.partner-modal p {
  margin: 0.75rem 3.75rem;
  text-align: justify;
  color: #000;
  font-size: 1.25rem;
}

.partner-modal p:first-of-type {
  margin-top: 2.75rem;
}

.partner-modal p:last-of-type {
  margin-bottom: 3.75rem;
}

@media (max-width: 600px) {
  .partner-modal p {
    font-size: 0.875rem;
    margin: 0.75rem 1.5rem;
  }

  .partner-modal p:first-of-type {
    margin-top: 2rem;
  }

  .partner-modal p:last-of-type {
    margin-bottom: 3rem;
  }

  .partner-modal {
    border-radius: 2rem;
  }

  .partner-modal img {
    margin-top: 3rem;
  }

  .partner-modal.no-description img {
    margin-bottom: 3rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .partner-modal p {
    font-size: 0.875rem;
    margin: 0.75rem 2.5rem;
  }

  .partner-modal p:first-of-type {
    margin-top: 2rem;
  }

  .partner-modal p:last-of-type {
    margin-bottom: 3rem;
  }

  .partner-modal img {
    margin-top: 3rem;
  }

  .partner-modal.no-description img {
    margin-bottom: 3rem;
  }
}
