ul.dashed {
  /* margin: -1em -3.5em 0 auto; */
  margin-top: -1em;
  padding-left: 13.5em;
  padding-right: 10em;
  list-style-type: none;
  display: inline-block;
  text-align: left;
}

ul.dashed > li::before {
  content: "-";
  position: relative;
  right: 0.25em;
}

ul.dashed > li {
  list-style-position: inside;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
}

.join-us-section {
  max-width: 1320px;
  box-sizing: border-box;
  margin: 0 auto 10rem !important;
}

.main-title {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 0.7em;
  padding-top: 1.5em;
  text-align: center;
}

.list-parent {
  text-align: center;
}

.section .found-an-observer p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding-right: 10em;
  padding-left: 10em;
}

.first-paragraph-after-title {
  margin-top: -0.5em;
}

.title-center {
  text-align: center;
  margin-top: 2em;
}

.heading-h2.how-to-found-observer-line::before,
.heading-h2.how-to-found-observer-line::after,
.heading-h2.why-found-observer-line::before,
.heading-h2.why-found-observer-line::after {
  height: 2px;
}

.heading-h2.how-to-found-observer-line::before,
.heading-h2.how-to-found-observer-line::after {
  width: 8.75em;
}

.heading-h2.why-found-observer-line::before,
.heading-h2.why-found-observer-line::after {
  width: 6.875em;
}

/* IDs */
#found-an-observer-title {
  margin: 3em 0 1.5em;
}

/* Image IDs */
#plane-ticket-icon {
  padding-right: 1em;
}

#passport-icon {
  transform: scale(0.9);
  padding-left: 0.5em;
}

#books-graduation-icon {
  padding-right: 4.1em;
}

#book-lightbulb-icon {
  padding-right: 5.5em;
}

#graduation-icon {
  padding-left: 3.5em;
}

.join-us-tabs {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
}

.join-us-tabs div {
  padding: 0.75rem 2.5rem;
}

.join-us-tabs div.join-us-tab {
  padding: 0.75rem 2rem;
}

.join-us-tabs a {
  font-size: 1.375rem;
  display: inline-block;
  transition: 0.3s;
}

.join-us-tabs a:hover {
  transform: scale(1.09);
  text-decoration: none;
}

.join-us-tabs .join-us-tab {
  border-left: 4px solid var(--primary-white);
}

.join-us-tabs .join-us-tab span {
  padding: 0.5rem;
  border-bottom: 0.25rem solid var(--primary-white);
}

/*******************************
 * Media Queries
 *******************************/

@media (max-width: 600px) {
  .main-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .split-section img {
    display: none;
  }

  .section .found-an-observer p {
    font-size: 1rem;
    padding: 0 2em;
    text-align: justify;
  }

  ul.dashed {
    padding-right: 2em;
    padding-left: 2em;
  }

  ul.dashed li {
    font-size: 1rem;
  }

  .section #call-to-action p {
    text-align: center;
  }

  .title-center {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (max-width: 1200px) {
  .heading-h2.how-to-found-observer-line::before,
  .heading-h2.how-to-found-observer-line::after {
    width: 6em;
  }

  .heading-h2.why-found-observer-line::before,
  .heading-h2.why-found-observer-line::after {
    width: 4.1em;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .heading-h2.how-to-found-observer-line::before,
  .heading-h2.how-to-found-observer-line::after {
    width: 5.5em;
  }

  .heading-h2.why-found-observer-line::before,
  .heading-h2.why-found-observer-line::after {
    width: 3.6em;
  }
}

@media (min-width: 1440px) and (max-width: 1660px) {
  .heading-h2.how-to-found-observer-line::before,
  .heading-h2.how-to-found-observer-line::after {
    width: 7.4em;
  }

  .heading-h2.why-found-observer-line::before,
  .heading-h2.why-found-observer-line::after {
    width: 5.5em;
  }
}
