/* stylelint-disable */
.language-raw,
.language-raw span {
  font-family: "Courier New", monospace !important;
}

.docs-story .css-sfbrjq-MuiSnackbar-root {
  position: relative;
  bottom: unset;
  right: unset;
  left: unset;
  top: unset;
}

.docblock-argstable-body code {
  color: rgba(229, 42, 48, 0.9) !important;
}

.storybook-color-palette {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem !important;
}

.storybook-color-palette.primary-red {
  color: var(--primary-red);
}

.storybook-color-palette.primary-white {
  color: var(--primary-white);
}

.storybook-color-palette.background-gray {
  color: var(--background-gray);
  background-color: var(--primary-white);
}

.storybook-color-palette.background-black {
  color: var(--background-black);
  background-color: var(--primary-white);
}

.storybook-color-palette.dark-gray {
  color: var(--dark-gray);
}

.storybook-color-palette.light-gray {
  color: var(--light-gray);
}

.storybook-color-palette.error-red {
  color: var(--error-red);
}

span.with-indent {
  margin-left: 1rem;
  display: block;
}

.docblock-argstable-body .sbdocs-expandable {
  color: rgba(250, 250, 250, 0.7) !important;
}

.sb-show-main .contact-board-button,
.sbdocs .contact-board-button {
  pointer-events: none;
}

.storybook-footernavlink {
  width: auto;
  padding: 3rem;
  overflow: visible;
}

.storybook-footernavlink > a {
  overflow: visible;
}

.sb-show-main .input-container,
.sbdocs .input-container {
  padding-top: 0;
}

.sb-show-main .entity-header,
.sbdocs .entity-header {
  max-height: unset;
}

.sticky-menu-example .split-title-left {
  padding: 0;
}

.sticky-menu-example .split {
  padding: 0;
}

.sticky-menu-example .heading-h1 {
  margin-bottom: 0;
}

.sticky-menu-example .heading-h1 + .split .heading-h2 {
  margin-top: 0;
}

.sticky-menu-example > *:not(.sticky-menu) {
  padding-left: 3rem;
  padding-right: 3rem;
}

pre span,
pre div {
  font-family: monospace, monospace !important;
  font-size: 1em;
}

.example-item {
  min-width: 200px;
  min-height: 200px;
  font-size: 1.5rem;
  background-color: var(--primary-red);
  color: var(--primary-white);
  display: flex;
  border-radius: 15%;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.draggable-sb-helper {
  max-width: 100%;
  width: 600px;
}

.draggable-sb-helper-vertical {
  max-height: 100%;
  height: 600px;
}

.draggable-sb-helper .draggable {
  width: 100%;
  display: flex;
}

.draggable-sb-helper-vertical .draggable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.draggable-sb-helper.draggable-sb-helper-vertical .draggable {
  flex-direction: row;
  flex-wrap: wrap;
}

.draggable-sb-helper.draggable-sb-helper-vertical .draggable .example-item {
  min-width: 800px;
  border-radius: 0;
}

.sb-show-main .carousel-wrapper {
  margin: 3rem 0;
}

.example-item.carousel-item {
  width: 200px;
  height: 200px;
  min-width: unset;
  min-height: unset;
}

h1.sbdocs-title {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
