.top-tabs-wrapper {
  height: calc(100vh - 164px);
}

.about-us-top-tabs {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  padding-top: 7vh;
  height: 100%;
}

.about-us-top-tabs div {
  width: 50%;
  height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  transition: 0.2s ease-out 0s;
}

.about-us-top-tabs div:hover {
  font-size: 1.2em;
  transition-delay: 0.1s;
}

.about-us-top-tabs a {
  pointer-events: auto;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.about-us-top-tabs h1 {
  flex-direction: column;
  display: flex;
  font-size: 1em;
}

.about-us-top-tabs a:hover {
  text-decoration: none;
}

.about-us-top-tabs div:first-child {
  box-shadow: inset -2px 0 0 0 var(--primary-white);
}

.about-us-top-tabs div:nth-child(2) {
  box-shadow: inset 2px 0 0 0 var(--primary-white);
}

.about-us-top-tabs div:first-child:hover {
  box-shadow: inset -56px 0 0 0 var(--primary-white);
}

.about-us-top-tabs div:nth-child(2):hover {
  box-shadow: inset 56px 0 0 0 var(--primary-white);
}

.about-us-top-tabs .light {
  font-weight: 300;
}

#about-us .heading-h2 {
  text-transform: uppercase;
}

#about-us.section .split-left p,
#about-us.section .split-right p {
  font-size: 1.25rem;
}

#about-us .split {
  margin-top: 1rem;
}

#about-us {
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-us .icon-button {
  margin: 0 auto;
  padding: 8px 2rem;
}

#about-us .icon-button.see-more-button p {
  padding: 0;
}

.section#testimonials {
  margin-left: 0;
  margin-right: 0;
  padding-top: 6rem;
}

.section#testimonials .heading {
  margin-left: 7rem;
  margin-right: 7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 992px) {
  #about-us.section .line-after::after,
  .line-before::before {
    display: none;
  }
}

@media (max-width: 600px) {
  .section#testimonials .heading {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
  }

  .about-us-top-tabs {
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 0;
    justify-content: center;
  }

  .about-us-top-tabs div {
    height: 30%;
    width: 90%;
  }

  .about-us-top-tabs div:first-child {
    box-shadow: inset 0 -2px 0 0 var(--primary-white);
  }

  .about-us-top-tabs div:nth-child(2) {
    box-shadow: inset 0 2px 0 0 var(--primary-white);
  }

  .about-us-top-tabs div:first-child:hover {
    box-shadow: inset 0 -20px 0 0 var(--primary-white);
  }

  .about-us-top-tabs div:nth-child(2):hover {
    box-shadow: inset 0 20px 0 0 var(--primary-white);
  }

  .top-tabs-wrapper {
    height: 100vh;
  }

  .section#testimonials {
    padding-top: 170px;
  }

  .section#our-history {
    padding-top: 0;
  }

  #our-history .our-history-heading {
    padding-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .section#testimonials .heading {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
  }

  .about-us-top-tabs {
    font-size: 2.5rem;
    align-items: center;
    padding-top: 0;
  }

  .about-us-top-tabs div:first-child:hover {
    box-shadow: inset -25px 0 0 0 var(--primary-white);
  }

  .about-us-top-tabs div:nth-child(2):hover {
    box-shadow: inset 25px 0 0 0 var(--primary-white);
  }

  .top-tabs-wrapper {
    height: 100vh;
  }

  .section#testimonials {
    padding-top: 170px;
  }

  .section#our-history {
    padding-top: 0;
  }

  #our-history .our-history-heading {
    padding-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section#testimonials .heading {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .about-us-top-tabs {
    font-size: 3rem;
  }

  .about-us-top-tabs div:first-child:hover {
    box-shadow: inset -40px 0 0 0 var(--primary-white);
  }

  .about-us-top-tabs div:nth-child(2):hover {
    box-shadow: inset 40px 0 0 0 var(--primary-white);
  }

  .top-tabs-wrapper {
    height: calc(100vh - 87px);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section#testimonials .heading {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 3rem;
  }

  .about-us-top-tabs {
    font-size: 4rem;
  }

  .top-tabs-wrapper {
    height: calc(100vh - 105px);
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .section#testimonials .heading {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (min-width: 2137px) {
  #about-us > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }
}
