input,
textarea {
  outline: none;
}

/* ///////////////////////////////////////// Contact Form Styles /////////////////////////////////////////////////// */
.contact-form-area,
.partners-form-area {
  display: flex;
  flex-direction: column;
}

.contact-email,
.partners-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 5%;
}

.partners-email {
  grid-template-columns: 1fr;
}

.contact-email > p,
.partners-email > p {
  margin: 4% 0;
  font-weight: 300 !important;
}

.contact-form-input,
.partners-form-input {
  border-radius: 22px;
  border: none;
  background-color: #787878;
  color: var(--primary-white);
  font-size: 22px;
  font-weight: 300;
}

.contact-form-email {
  padding: 0 2rem;
}

.partners-form-email {
  padding: 0.75rem 2rem;
  width: calc(100% - 4rem);
}

.contact-form-to-text,
.partners-form-to-text {
  text-align: right;
}

.contact-form-input::placeholder,
.partners-form-input::placeholder {
  color: var(--primary-white);
  font-size: 22px;
  font-weight: 300;
}

.contact-clickable-link,
.partners-clickable-link {
  background-color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.contact-clickable-link:hover,
.partners-clickable-link:hover {
  background-color: inherit;
}

.contact-mails,
.partners-mails {
  margin-bottom: 10%;
}

.contact-mails > div,
.partners-mails > div {
  margin: 1.5rem 0;
}

.contact-mails > div > *,
.partners-mails > div > * {
  font-weight: 300;
  margin: 5px 0;
}

/* Contact Message */
.contact-message,
.partners-message {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form-message {
  height: 100%;
  margin-bottom: 2rem;
  padding: 2% 2rem;
}

.partners-form-message {
  height: 420px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.contact-form-submit,
.partners-form-submit {
  background-color: var(--primary-white);
  color: var(--background-black);
  padding: 2% 0;
  font-size: 22px;
  font-weight: 500;
  border-radius: 16px;
  line-height: 22px;
  border: var(--primary-white) solid 2px;
  transition: all 500ms ease;
}

.contact-form-submit:hover,
.partners-form-submit:hover {
  border: #e3e3e3 solid 2px;
  color: #e3e3e3;
  background-color: #3a3a3a;
}

/* ///////////////////////////////////////// Contact Form Styles End     ///////////////////////////////////////// */
