.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

.line {
  width: 65vw;
  position: relative;
  align-self: center;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 0 1px #c2c2c2;
}

.footer nav li {
  flex: 0 0 auto;
  display: inline-block;
}

.footer-nav {
  margin-top: 1em;
  box-sizing: content-box;
  align-self: center;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding-bottom: 2em;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 10vw);
  padding-left: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-icons {
  fill: white;
  font-size: 2.2rem !important;
}

.footer-icons:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

.terms,
.official-docs {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .nav-list {
    padding: 0 0 2em;
    display: grid;
    grid-template-columns: 40vw;
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .nav-list {
    padding: 0 0 2em;
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-list {
    padding: 0 0 2em;
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: repeat(5, 1fr);
  }

  .footer-icons {
    font-size: 2.5rem !important;
  }
}
