.image-file-input-loader {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-change-button svg {
  color: #fff;
}

label.picture-change-button,
.image-file-input-loader {
  min-width: unset;
  background-color: #444;
  width: 65px;
  height: 65px;
  margin-right: 0.5rem;
}

label.picture-change-button:first-child,
.image-file-input-loader:first-child {
  margin-right: 0;
}

.image-file-input-loader svg circle {
  color: #fff;
}

label.picture-change-button:hover {
  background-color: #555;
}

label.picture-change-button svg {
  width: 36px;
  height: 36px;
}

.entity-sidebar .picture-change-button,
.entity-sidebar .image-file-input-loader {
  position: absolute;
  right: 0;
  bottom: 5%;
}

@media (max-width: 600px) {
  label.picture-change-button,
  .image-file-input-loader {
    width: 50px;
    height: 50px;
  }

  label.picture-change-button svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  label.picture-change-button,
  .image-file-input-loader {
    width: 50px;
    height: 50px;
  }

  label.picture-change-button svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  label.picture-change-button,
  .image-file-input-loader {
    width: 50px;
    height: 50px;
  }

  label.picture-change-button svg {
    width: 28px;
    height: 28px;
  }
}
