.homepage-video-wrapper {
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
}

.homepage-video {
  border-radius: 1.25rem;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.fading-wrapper img {
  margin: auto;
  max-width: 75%;
}

@media (max-width: 768px) {
  .homepage-video-wrapper {
    max-width: 87%;
  }
}
