.filter-wrapper {
  margin: 0 2rem 0 0;
  width: 344px;
  max-width: 25%;
  min-width: auto;
}

.filter {
  position: sticky;
  top: 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.filter-search {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-inner {
  margin-top: 1.5rem;
}

.filter-section {
  margin-top: 0.75rem;
  padding-bottom: 1rem;
}

#events .filter p.filter-title {
  margin: 0;
  font-size: 1.5rem;
}

#events .filter p.filter-subtitle {
  font-size: 0.875rem;
  margin: 0 0 1rem;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--primary-white);
}

.filter .checkbox-input-container {
  padding-top: 0.5rem;
}

.filter .checkbox-input-container:first-child {
  padding-top: 0;
}

#events .checkbox-input-container label span.checkbox {
  margin-left: -13px;
}

.filtering-icon {
  display: none;
  width: 37px;
  height: 37px;
  min-width: unset;
  margin: 0 0 0 0.5rem;
}

.filter-input-disabled {
  opacity: 0.45;
  pointer-events: none;
}

/* width */
.filter-options::-webkit-scrollbar {
  width: 0.4rem;
}

/* Handle */
.filter-options::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
}

/* Handle on hover */
.filter-options::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

@media (max-width: 768px) {
  .filter {
    position: relative;
    top: unset;
    padding-top: 0;
  }

  .filter-wrapper {
    width: 100%;
    max-width: unset;
    min-width: unset;
    position: sticky;
    top: 0;
    padding-top: calc(2rem + 60px);
    margin: -90px 0 0;
    background: var(--background-black);
    z-index: 2;
    box-shadow: 0 4px 2px -2px #282828;
    overflow: hidden;
  }

  .filtering-icon {
    display: block;
  }

  .filter-search {
    flex-direction: row;
  }

  .filtering-text-input-container {
    flex: 1;
  }

  .filter-inner {
    height: 0;
    transform: translateX(110%);
    transition: transform 0.4s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .mobile-filter-expanded .filter-inner {
    height: calc(100vh - 4.5rem - 60px);
    transform: translateX(0%);
    overflow-y: auto;
  }

  .filter-section.types {
    overflow: hidden;
  }

  .filter-section.sorting {
    min-height: 200px;
  }

  .filter-options {
    overflow-y: auto;
    max-height: calc(100% - 24px);
  }
}

@media (max-width: 992px) {
  .filter-search {
    height: 36px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .filter-search {
    height: 43px;
  }
}

/* height formatting */
@media (max-width: 768px) and (max-height: 512px) {
  .filter-inner {
    flex-direction: row;
  }

  .filter-title {
    display: none;
  }

  .filter-section {
    width: calc(50% - 1rem);
    margin: 0 0.5rem;
  }

  .filter-options .checkbox-input-container:last-child {
    padding-bottom: 1rem;
  }
}

@media (min-width: 769px) and (max-height: 800px) {
  .types .filter-options {
    max-height: 130px;
    overflow-y: auto;
  }
}

@media (min-width: 769px) and (max-height: 600px) {
  .events-filter-wrapper {
    flex-direction: column;
  }

  .filter-wrapper {
    max-width: unset;
    width: 100%;
  }

  .filter-section {
    width: calc(50% - 1rem);
    margin: 0.75rem 0.5rem 0;
    float: left;
    padding-bottom: 0;
  }

  .types .filter-options {
    max-height: 130px;
    overflow-y: auto;
  }
}
