/* stylelint-disable selector-class-pattern */
p.success-message,
.section p.success-message {
  color: #03ae1a;
}

p.success-message span,
.section p.success-message span {
  color: #03ae1a;
}

p.success-message .MuiSvgIcon-root,
.section p.success-message .MuiSvgIcon-root {
  fill: #03ae1a;
  background-color: transparent;
  padding: 0;
  font-size: 0.563rem;
}
