/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */
.split-button .MuiCircularProgress-root {
  margin-left: 44px;
  position: absolute;
  margin-top: 1px;
}

.split-button .MuiCircularProgress-root circle {
  color: white;
}

.split-button .button-group {
  min-height: 37px;
}

.split-button ul {
  padding: 0;
}

.split-button li {
  background-color: var(--primary-white);
  transition: 0.3s;
  border-bottom: 1px solid #d399998f;
}

.split-button li:hover,
button.split-button li:hover {
  background-color: var(--primary-red);
}

.split-button li:first-child,
button.split-button li:first-child {
  border-top: 1px solid var(--primary-white);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.split-button li:last-child,
button.split-button li:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom: 1px solid var(--primary-white);
}

.split-button li:first-child:hover,
button.split-button li:first-child:hover {
  border-top: 1px solid var(--primary-red);
}

.split-button li:last-child:hover,
button.split-button li:last-child:hover {
  border-bottom: 1px solid var(--primary-red);
}

.split-button li *,
.split-button li span,
button.split-button li * {
  color: var(--primary-red);
  fill: var(--primary-red);
}

.split-secondary-button svg {
  transition: 0.3s;
}

.split-button li svg {
  margin-right: 0.7rem;
}

.split-button li:hover *,
button.split-button li:hover * {
  color: var(--primary-white);
  fill: var(--primary-white);
}

.split-main-button span {
  line-height: normal;
  margin-top: 1px;
}

.split-inner-button span {
  color: var(--primary-white);
}

.split-inner-button,
button.split-inner-button,
.split-inner-button.Mui-disabled,
button.split-inner-button.Mui-disabled {
  background-color: var(--primary-red);
  font-size: 0.875rem;
  font-weight: 400;
}

.split-inner-button:hover,
button.split-inner-button:hover {
  background-color: #9c2125;
}

.split-inner-button.Mui-disabled,
.split-inner-button.Mui-disabled span,
button.split-inner-button.Mui-disabled,
button.split-inner-button.Mui-disabled span {
  color: var(--primary-red);
}

.split-inner-button.split-main-button,
button.split-inner-button.split-main-button {
  border-right: 1px solid var(--primary-white) !important;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.split-inner-button.split-secondary-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.split-inner-button.split-main-button.Mui-disabled,
button.split-inner-button.split-main-button.Mui-disabled {
  border-right: 1px solid var(--primary-red) !important;
}

.split-secondary-button.Mui-disabled svg,
button.split-secondary-button.Mui-disabled svg {
  fill: var(--primary-red);
}

.split-secondary-button[aria-expanded] svg,
button.split-secondary-button[aria-expanded] svg {
  transform: rotate(180deg);
}

.card .split-button {
  position: relative;
  text-align: center;
  transform: translateY(50%);
  margin-top: -1px;
  z-index: 1;
}

.card .split-button .button-group {
  box-shadow: 0 1px 5px 2px #3e3e3e6b;
  max-width: 75%;
}

@media (max-width: 768px) {
  .split-inner-button.split-secondary-button {
    width: 30px;
    min-width: unset;
  }

  .split-button li {
    padding: 6px 10px;
    min-height: unset;
  }

  .split-button li svg {
    font-size: 1rem;
  }

  .split-button li span {
    font-size: 0.75rem;
    margin: 1px 0 -1px;
  }
}
