/* .board-card-image .card-image {
  To fit Andreas' haircut in the card
  height: 354px;
}
*/

.board-card-image .caption-title {
  height: 30px;
  margin: 0;
}

.board-card-image .caption-details {
  text-align: center;
  display: block;
}

.card.board-card-image .caption-details-text {
  margin-bottom: 1.75rem;
}
