/* stylelint-disable selector-class-pattern */
p.message,
.section p.message {
  margin: 0 5px 0 0;
  padding: 0;
}

.entity-sidebar p.message {
  background-color: var(--background-gray);
}

.input-container p.message,
.section .input-container p.message {
  transform: translateY(100%);
  background-color: var(--background-black);
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

p.message span,
.section p.message span {
  margin-right: 5px;
  padding: 0;
}

p.message .MuiSvgIcon-root,
.section p.message .MuiSvgIcon-root {
  fill: var(--dark-gray);
  border-radius: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}

p.message.unrelated {
  position: relative;
  bottom: unset;
  left: unset;
}

p.message svg {
  background-color: transparent;
  padding: 0;
  font-size: 1rem;
  vertical-align: middle;
}

@media (max-width: 326px) {
  .input-container p.message,
  .section .input-container p.message {
    position: relative;
    left: unset;
    transform: none;
    bottom: -0.5rem;
  }
}
